.container
{
    position: relative;
    z-index: 2;

    width: 1000px;

    margin: 46px auto 0;

    box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
    background: #fff;
}

.container__left,
.container__right
{
    display: inline-block;

    vertical-align: top;
}

.container__left
{
    width: 300px;

    border-right: 2px solid #E6E8EB;
}

.container__right
{
    width: 695px;

    margin-left: -5px;
}

.sidebar
{
    padding-top: 10px;
}

.sidebar__search-wrapper
{
    position: relative;

    display: inline-block;

    vertical-align: top;
}

.sidebar__search-wrapper.icon-search:before
{
    font-size: 15px;

    position: absolute;
    top: 8px;
    left: 8px;

    color: #acb0b4;
}

.messege__search.icon-search:before
{
    font-size: 14px;

    position: absolute;
    top: 13px;
    left: 21px;

    color: #acb0b4;  
}

.input
{
    border: 0;
}

.input_theme_gray
{
    font-size: 12px;

    width: 225px;
    padding: 8px 12px 9px 32px;

    color: #8C8E91;

    border-radius: 3px;

    -webkit-transition: .2s;
       -moz-transition: .2s;
         -o-transition: .2s;
            transition: .2s;
}

.input_theme_gray:focus
{
    color: #ACB4BE;
}

.sidebar__block
{
    border-bottom: 1px solid #E6E8EB;

    margin-top: -6px;
    padding: 0 10px;
}

.sidebar__menu
{
    height: 615px;
    overflow: hidden;
    overflow-y: scroll;

    padding-top: 10px;
}

.userlist__item
{
    position: relative;

    display: block;

    margin: 0 10px;
    padding: 8px 12px 2px;

    cursor: pointer;

    border-radius: 3px;
}

.userlist__item:last-child
{
    margin-bottom: 10px;
}

.userlist__item:hover
{
    background: #F0F4F9;
}

.userlist__item_active,
.userlist__item_active:hover
{
    background: #5780AB;
}

.userlist__item_active .userlist__name
{
    color: #fff;
}

.userlist__item_active .userlist__messege,
.userlist__item_active .userlist__time
{
    color: #E8EEF7;
}

.userlist__item,
.userlist__inner
{
    display: inline-block;
    vertical-align: top;
}

.userlist__inner
{
    position: relative;
    width: 194px;
    margin-left: 8px;
}

.userlist__avatar
{
    display: inline-block;

    width: 50px;
    height: 50px;

    border-radius: 2px;
    background: #e6e6e6;
    background-size: 100%;
}

.userlist__name
{
    font-weight: 700;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 130px;

    margin-top: 3px;
    display: inline-block;
    text-decoration: none;
}

.userlist__name:hover
{
    text-decoration: none;
}

.m-user
{
    height: 560px;
    overflow: hidden;
    overflow-y: scroll;
}

.m-user__author-name
{
    font-weight: 700;
    display: block;
}

.userlist__time
{
    margin-top: 3px;   
}

.userlist__time
{
    font-size: .85em;

    display: inline-block;
    text-align: right;
    float: right;

    color: #8C8E91;
}

.userlist__messege
{
    position: relative;
    white-space: nowrap;

    text-overflow: ellipsis;
    overflow: hidden;

    max-width: 175px;
}

.userlist__inner:after
{
    position: absolute;
    right: 0;
    bottom: 5px;

    content: '';

    width: 8px;
    height: 8px;

    background: transparent;

    border-radius: 50%;
    /*border: 1px solid transparent;*/

    opacity: .92;
}

.userlist__inner_online_yes:after
{
    background: #A8C3EC;
    border-color: #fff;
}

.online-mobile
{
    position: absolute;

    right: 0;
    bottom: 3px;

    width: 8px;
    height: 12px;

    background: #A8C3EC;
    border-radius: 1px;
}

.online-mobile:after
{
    position: absolute;

    content: '';

    width: 4px;
    height: 7px;

    margin: 2px 0 0 2px;

    background: #fff;
}

.userlist__item_active .online-mobile
{
    background: #E8EEF7;
}

.userlist__item_active .online-mobile:after
{
    background: #5780AB;
}

.messege
{
    position: relative;
}

.messege__top
{
    position: relative;

    z-index: 2;

    width: 95%;
    margin: auto;
    padding: 15px 0 0;

    border-bottom: 2px solid #E6E8EB;
    background: #fff;
}

.messege__top-menu .menu__item
{
    display: inline-block;
}

.messege__top-menu .menu__item:last-child
{
    float: right;
}

.messege__top-menu .menu__item:first-child .link
{
    padding-left: 6px;
}

.messege__top-menu .menu__item .link
{
    display: inline-block;

    padding: 0 12px 2px;
}

.m-user
{
    width: 90%;

    margin: 0 auto;
    padding: 5px 18px;
}

.m-user__avatar
{
    width: 50px;
    height: 50px;

    border-radius: 2px;

    position: relative;

    background-size: 100%;
}

.m-user__avatar:after
{
    position: absolute;
    right: -4px;
    top: -4px;

    content: '';

    width: 8px;
    height: 8px;


    border-radius: 50%;
    border: 1px solid transparent;

    opacity: .92;
}

.m-user__avatar_online_yes:after
{
    background: #A8C3EC;
    border-color: #fff;
}

.m-user__avatar-group
{
    display: inline-block;
    vertical-align: top;

    width: 50px;
    height: 50px;
}

.m-user__avatar-group-item
{
    width: 23px;
    height: 23px;

    display: inline-block;

    background-size: 100%;
    border-radius: 2px;
}

.m-user__item
{
    position: relative;

    margin: 5px 0;
    padding: 8px;

    cursor: pointer;

    border-radius: 3px;
}

.hide-post
{
    position: absolute;
    right: 10px;
    top: 10px;

    width: 14px;
    height: 14px;

    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTRweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgMTQgMTQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE0IDE0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxnPg0KCQk8cG9seWdvbiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgcG9pbnRzPSIxNCwwLjcgMTMuMywwIDcsNi4yOTkgMC43LDAgMCwwLjcgNi4zLDcgMCwxMy4yOTkgMC43LDE0IDcsNy43IA0KCQkJMTMuMywxNCAxNCwxMy4yOTkgNy43LDcgCQkiLz4NCgk8L2c+DQo8L2c+DQo8L3N2Zz4NCg==);
    background-repeat: no-repeat;

    visibility: hidden;
    opacity: 0;
}

.m-user__item:hover .hide-post
{
    -webkit-transition: .2s;
       -moz-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    visibility: visible;
    opacity: .5;
}

.m-user__item:hover .hide-post:hover
{
    opacity: 1;
}

.m-user__item:hover,
.m-user__item_active
{
    background: #F0F4F9;
}

.m-user__item,
.m-user__inner
{
    height: 50px;
}

.m-user__inner
{
    width: 370px;
}

.m-user__avatar,
.m-user__info,
.m-user__inner
{
    display: inline-block;
    vertical-align: top
}

.m-user__info
{
    width: 125px;
    margin: 0 40px 0 5px;
}

.m-user__name
{
    display: inline-block;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

    margin: 6px 0 -5px 0;
}

.m-user__author
{
    padding: 8px 8px 2px;
    margin-left: -8px;
}

.m-user__author_active
{
    background: #F0F4F9;
    border-radius: 3px;
}

.m-user__author-avatar
{
    width: 35px;
    height: 35px;

    background: #eee;
    background-size: 100%;
    border-radius: 3px;

    display: inline-block;
}

.m-user__author-text
{
    display: inline-block;

    width: 315px;
    height: 35px;
    overflow: hidden;

    margin-left: 5px;

    color: #496D94;
}

.m-user__text
{
    display: table-cell;

    vertical-align: middle;
    width: 375px;
    height: 50px;
}

.m-user__time
{
    font-size: .85em;

    color: #8C8E91;
}

.smile
{
    width: 16px;
    height: 16px;
    margin: 0 1px 1px;

    vertical-align: middle;

    background-image: url(https://vk.com/images/im_emoji.png);
    background-position: 0 0;
}

.m-user__item_type_group .m-user__name
{
    white-space: normal;

    margin-top: -4px;
    margin-bottom: 0;
}

.sticker
{
    vertical-align: middle;

    width: 45px;
    height: 45px;

    margin-left: 5px;

    background-repeat: no-repeat;
    background-size: contain;
}

.sticker
{
    background-image: url(https://vk.com/images/stickers/1/128.png);
}

.messege__search
{
    position: relative;

    height: 40px;

    margin-left: 2px;

    background: #FFF;
    border-top: 1px solid rgba(0, 0, 0, 0.15);

}

.messege__search-form
{
    font-size: 12px;

    background: #FFF;
    border: 0;

    height: 38px;
    width: 93%;

    padding-left: 45px;

    color: #8C8E91;

    -webkit-transition: .2s;
       -moz-transition: .2s;
         -o-transition: .2s;
            transition: .2s;
}

.messege__search-form:focus
{
    color: #ACB4BE;
}


.button-msg
{
    position: absolute;
    top: 6px;
    right: 10px;
}

.button,
.button-msg
{
    font-size: 12px;

    display: inline-block;

    margin: 0 5px;
    padding: 5px 15px;
    border-radius: 2px;

    background: #5588B8;
    color: #fff;

    cursor: pointer;
}

.button,
.button-msg:hover
{
    background: #4778A7;
}

.button_light
{
    background: transparent;
    color: #496D94;

    float: right;
}

.button_light:hover
{
    background: #F0F4F9;
}

.usermenu
{
    visibility: hidden;
    opacity: 0;

    position: absolute;
    z-index: 9;

    margin-left: 0;

    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 20px -5px rgba(0, 0, 0, 0.4);

    background: #fff;
}

.usermenu__item
{
    font-size: 13px;

    position: relative;

    padding: 8px 50px 8px 19px;

    cursor: pointer;
}


.usermenu__counter
{
    position: absolute;
    top: 5px;
    right: 6px;

    padding: 3px 8px;

    -webkit-transition: .15s;
       -moz-transition: .15s;
         -o-transition: .15s;
            transition: .15s;
            
    border-radius: 3px;
    background: #F0F4F9;
    color: #496D94;
    
    font-weight: 700;
}

.usermenu__item:hover
{
    background: #F0F4F9;
}

.usermenu__item:hover .usermenu__counter
{
    background: #D5DCE4;
}

.usermenu__item:hover .usermenu__counter:hover
{
    background: #C5CED8;
}

.usermenu__item_separate
{
    border-bottom: 1px solid #E6E8EB;
}

.tumbler
{
    position: absolute;
    top: 0;

    width: 16px;
    height: 13px;
    padding: 6px 5px 5px 5px;
    margin: 12px 1px 1px 151px;

    z-index: 10;
    /*background: rgba(0, 0, 0, 0.2);*/


    border-radius: 2px;
}

.header__wrapper-menu-open:hover .tumbler__item
{
    background: #fff;
}

.tumbler__item
{
    height: 2px;
    background: #E8EEF7;
    margin-bottom: 3px;
}


.images-collection
{
    width: 100%;

    margin: 10px 0;
    overflow: hidden;
}

.images-collection__item
{
    display: block;
    margin: 0 1px 1px 0;

    float: left;

    -webkit-transition: .15s;
       -moz-transition: .15s;
         -o-transition: .15s;
            transition: .15s;

    background-size: 100%;
}

.images-collection__item:hover
{
    opacity: .8
}

/* 3 фотки */
.images-collection_3 .images-collection__item_1
{
    width: 260px;
    height: 259px;
}

/* 5 фоток */
.images-collection_5 .images-collection__item_1,
.images-collection_5 .images-collection__item_2
{
    width: 194px;
    height: 194px;
}

.images-collection_3 .images-collection__item_2,
.images-collection_3 .images-collection__item_3,
.images-collection_5 .images-collection__item_3,
.images-collection_5 .images-collection__item_4,
.images-collection_5 .images-collection__item_5

{
    width: 129px;
    height: 129px;
}

.frame-video
{
    margin-top: 10px;
}

.map-msg
{
    margin-top: 10px;
}

.tabs
{
    white-space: nowrap;
    font-size: 0;
    z-index: 2;
    margin: auto;
}

.tabs__item
{
    display: inline-block;
    width: 50%;
    font-size: 12px;
    text-align: center;
    padding: 6px 0;
    color: #496D94;
    cursor: pointer;
    background: #F0F4F9
}

.tabs__item_active
{
    background: #5780AB;
    color: #fff;
}

.popup_type_forward-msg,
.popup_type_create-dialog
{
    position: fixed;
    z-index: 120;

    visibility: hidden;
    opacity: 0;

    top: 50px;
    left: 50%;

    margin-left: -200px;

    background: #fff;

    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);

    width: 400px;
}

.paranja
{
    display: none;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 10;

    cursor: pointer;

    background: rgba(50, 50, 50, .3);
}

.userlist_forward
{
    overflow: hidden;
    overflow-y: scroll;

    padding: 10px 0;
}

.userlist_forward .userlist__inner
{
    width: 294px;
}

.userlist_forward .userlist__messege
{
    max-width: 270px;
}

.popup__search
{
    margin-top: 2px;

    border-bottom: 1px solid #E6E8EB;
}

.popup_show
{
    visibility: visible;
    opacity: 1;
}

.popup_show ~ .paranja
{
    display: block;
}

.popup_type_forward-msg .input_theme_gray,
.popup_type_create-dialog .input_theme_gray
{
    width: 355px
}

.cr-dlg-wrapper
{
    position: fixed;

    padding: 8px 22px;
    width: 356px;

    text-align: right;

    border-top: 1px solid rgba(0, 0, 0, 0.15);
    background: #fff;
}

.creat-dlg-btn
{

}

.popup_type_create-dialog .userlist__item
{
    margin: 3px 10px;

    padding: 7px 12px 1px;
}

.userlist__item_active
{
    background: #5780AB;
}

.userlist__item_active .userlist__name
{
    color: #fff;
}

.userlist__item_active .userlist__messege,
.userlist__item_active .userlist__time
{
    color: #E8EEF7
}

.searchblock
{
    position: fixed;
    z-index: 1;

    visibility: hidden;
    opacity: 0;

    width: 640px;

    -webkit-transition: .2s;
       -moz-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    margin: -50px 0 0 30px;
    padding: 10px 0;

    border-bottom: 1px solid #E6E8EB;
    background: #FFF;
}

.searchblock_show
{
    visibility: visible;
    opacity: 1;

    margin-top: 0;
}

.searchblock__item
{
    display: inline-block;
    vertical-align: middle;
}

.searchblock__select
{
    margin-right: 30px;
}

.select
{
    position: relative;

    color: #8C8E91;

    cursor: pointer;
}

.select:after
{
    position: absolute;
    top: 50%;
    content: '';

    border-color: #8C8E91 transparent;
    border-style: solid;
    border-width: 4px 4px 0 4px;

    width: 0;
    height: 0;

    margin-left: 4px;
    margin-top: -2px;
}

.select:hover,
.searchblock__select_active
{
    color: #242424;
}

.select:hover:after,
.searchblock__select_active:after
{
    border-color: #242424 rgba(0, 0, 0, 0);
}

.input_type_search-msg
{
    font-size: 12px;

    width: 175px;
    padding: 6px 10px 6px 25px;

    background: #f1f1f1;
    border-radius: 2px;

    border: 0;

    color: #8C8E91;
}

.input_type_search-msg:focus
{
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15);
    background: #fff;
    color: #8C8E91;
}

.searchblock__input.icon-search:before
{
    position: absolute;
    margin-top: 7px;
    color: #999;
    margin-left: 7px;
    font-size: 13px;
}

.searchblock__close-button
{
    font-size: 12px;

    display: inline-block;

    margin: 0 5px;
    padding: 5px 15px;
    border-radius: 2px;

    background: transparent;
    color: #496D94;

    float: right;

    cursor: pointer;
}

.searchblock__close-button:hover
{
    background: #F0F4F9;
}

.popup-msg.popup-msg_date
{
    z-index: 120;

    right: auto;
    left: 22px;
    top: 79px;
}

.popup__helper.popup__helper_type_date
{
    z-index: 100;
    top: 80px;
}


.popup-msg
{
    position: absolute;
    right: 18px;

    visibility: hidden;
    opacity: 0;

    z-index: 99;

    margin-top: -8px;

    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    transition: .25s;

    background: #fff;

    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
}

.popup-msg_show
{
    visibility: visible;
    opacity: 1;

    margin-top: -2px;
}

.popup-msg__item
{
    padding: 6px 14px;

    cursor: pointer;
}

.popup-msg__item_active
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAKCAYAAABv7tTEAAAALUlEQVQoz2NgIAF0LDn0n4FUDTBMZw24TMCrAZsEQSehKyDaD8gKaRtKpEQgAJHXZmgsaRvOAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: 93% 10px;
}

.popup-msg__item:hover
{
    background-color: #F0F4F9;
}

.popup-msg_show ~ .popup__helper
{
    visibility: visible;
    opacity: 1;
}

.popup__helper
{
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: hidden;
    opacity: 0;

    z-index: 98;

    width: 100%;
    height: 100%;
}

.popup-msg_settings
{
    margin: 1px -17px 0 0;
}

.online-mobile
{
    position: absolute;
}

.smile-attach
{
    position: absolute;
    right: 176px;

    margin-top: -43px;

    font-size: 10px;

    box-shadow: 0 0 0 2px #BAC8DA;
    border-radius: 50%;
    padding: 0px 2px 0px 2px;

    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    transition: .25s;

    color: #BAC8DA;

    cursor: pointer;
}

.smile-attach:hover
{
    box-shadow: 0 0 0 2px #6E8AA8;
    color: #6E8AA8;
}

.like-post
{
    position: absolute;
    right: 20px;

    color: #c9d8e6;

    margin-top: -18px;

    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;

    cursor: pointer;
}


.like-post:hover
{
    color: #7295B2;
}

.like-post__c
{
    display: inline-block;
    color: #7295B2;

    font-weight: 700;

    margin-left: -2px;
}

.like-post__icon
{
    font-size: 14px;
    vertical-align: middle;
    margin-top: -2px;
    display: inline-block;
}

.box-comments__item:hover .like-post__text
{
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;

    visibility: visible;
    opacity: 1;
}

.like-post__text
{
    color: #7295B2;

    visibility: hidden;
    opacity: 0;
}

.like-post__text,
.like-post__count
{
    display: inline-block;

    vertical-align: middle;
}

.box__photos_line .box__photo-item.box__photo-item_1_
{
    width: 550px;
    height: 320px;
}

.link-attach
{
    border-top: 1px solid #E6E8EB;

    margin: 10px 0 15px;
    padding-top: 15px;
}

.link-attach__pic
{
    width: 100px;
    height: 100px;

    margin-right: 10px;

    background-size: 100%;
}

.link-attach__title
{
    font-size: 15px;
}

.link-attach__pic,
.link-attach__inner
{
    display: inline-block;

    vertical-align: top;
}

.link-attach__inner
{
    width: 360px;
}

.link-attach__link
{
    margin-left: 5px;

    color: #ACB4BE;
}

.link-attach__text
{
    margin-top: 5px;
}

.box-comments_e
{
    margin-top: 10px;
}

.tumbler__counter
{
    font-size: 11px;

    position: absolute;
    top: -5px;
    z-index: 150;

    margin-left: 6px;
    padding: 0 6px;

    border-radius: 50%;

    background: rgba(236, 87, 87, 0.9);
    color: #fff;
}

.scroll-top
{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    z-index: 1;

    width: 50%;
    height: 100%;

    -webkit-transition: .3s;
       -moz-transition: .3s;
         -o-transition: .3s;
            transition: .3s;

    cursor: pointer;

    display: none;

    background: #eee;
}

.scroll-top:hover .scroll-top__text
{
    opacity: 1;
}

.scroll-top__text
{
    font-weight: 700;

    position: relative;
    font-size: 13px;

    width: 100px;
    height: 13px;

    padding: 0 0 0 27px;
    margin: 75px 0 0 20px;

    opacity: .6;

    color: #496D94;

    -webkit-transition: .3s;
       -moz-transition: .3s;
         -o-transition: .3s;
            transition: .3s;
}

.scroll-top__text:after
{
    position: absolute;
    top: 6px;
    left: 0;
    content: '';

    border-color: #496D94 transparent;
    border-style: solid;
    border-width: 0 8px 8px 8px;

    width: 0;
    height: 0;

    margin-left: 5px;
    margin-top: 0;
}

.footer
{
    position: relative;
    z-index: 2;

    width: 1000px;

    margin: 15px auto;
}

.footer__item,
.footer__left,
.footer__right
{
    display: inline-block;
    vertical-align: top;
}

.footer__item .link
{
    padding: 4px 9px;
}

.footer__right
{
    float: right;
}
